/* Universal Styles */

body {
  font-family: Georgia ,serif;
  font-size: 17px;
  margin: 0;
}

h1 {
  font-family: Georgia, serif;
  font-size: 2.5em;
}

h2 {
  font-family: Georgia, serif;
  font-size: 1.8em;
}

h3 {
  font-family: Georgia, serif;
  text-transform: uppercase;
  font-size: 1em;
}


/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 5;
  border-bottom: 1px solid black;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  width: 70px;
  height: 60px;
  padding: 0 10px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding-left: 20px;
}

a {
  color: black;
}

/* Main Content */

.container {
  display: flex;
  width: 1234px;
  padding-top: 120px;
  margin: 0 auto 200px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* Columns */

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* Images */

.image {
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.lead-story .image {
  background-image: url(../resources/images/img-story-main.png);
  height: 300px;
  width: 630px;
  text-align: left;
}

.image.earth-story {
  background-image: url(../resources/images/img-story-2.png);
  height: 300px;
}

.image.camera-story {
  background-image: url(../resources/images/img-story-3.png);
  height: 300px;
}

.image.cat-story {
  background-image: url(../resources/images/img-story-1.png);
  width: 300px;
  height: 300px;
}

/* Articles */

.stories {
  display: flex;
  justify-content: space-between;
}

.story,
.story2,
.story3 {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.story2,
.story3,
.image.earth-story,
.image.camera-story,
.image.cat-story {
  margin-top: 40px;
}

/* News Bites */

.cookie {
  height: 240px;
}

.column.small {
  display: block;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 0.8em;
  color: DimGray;
  width: 240px;
  border-bottom: 1px solid DimGray;
}

li {
  border-top: 1px solid DimGray;
  text-align: left;
  padding: 15px 30px;
}

/* Footer */
